:root {
  --black: black;
  --white: #FEF;
  --color1: #f1e7dd;
  --color2: #d6ccc2;
  --color3: #f5ebe0;
  --color4: #e3d5ca;
  --color5: #d5bdaf;
  --backGround: linear-gradient(var(--color5), var(--color2), var(--color5))
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background-image: var(--backGround);
}

.signInPage {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.searchLogBtn {
  width: 100%;
  display: flex;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.searchTopic {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 0.5rem;
  width: 100%;
}

.homePage, .commentContainer {
  width: 50%;
  /* background-image: var(); */
  background-color: var(--color3);
  border-radius: 20px;
}

button {
  margin: 3px;
  color: #264653;
  background-color: transparent;
  transition: all .3s ease-in-out;
  border: none;
  padding: 0;
  border-bottom: black 1px solid;
}

.clickIcon {
  width: 1.25rem;
  height: 1.25rem;
  transition: all .3s ease-in-out;
}

.clickIcon:hover {
  transform: scale(1.1);
}

.unlikeBtn {
  background-color:#61c572;
}

button:hover {
  /* background-color: #85aaa5; */
  transform: scale(1.1);
  filter:brightness(85%);
}

.profile {
  display: flex;
}

.topicCommentHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 25px;
}

.profileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* .currPage {
  filter:brightness(85%);
} */

textarea {
  height: fit-content;
  width:99%;
  margin-left: .2%;
  border-radius: 20px;
  margin-top: .25rem;
  padding-left: 1rem;
}

.hidden {
  display: none;
}

.timePost {
  font-size: 15px;
  opacity: 75%;
}

.homePage > .header {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px var(--color3) solid;
  text-align: left;
  border-radius: 20px;
  background-image: linear-gradient(var(--color2),var(--color5), var(--color4));
  font-size: 20px;
  margin: 0px;
}

/* .commentContainer > .IndiviualTopic {
  margin: 0px;
  border-radius: 0px;
  background-image: linear-gradient(#e76f51,#fd896c, #e76f51);
} */

.topicTitle {
  font-weight: bold;
  width: fit-content;
  height: fit-content;

}

.authorName {
  width: fit-content;
  height: fit-content;
  font-size: 15px;
}

.detailInfo {
  display: flex;
  justify-content: space-between;
}

.TopicNameAuthor{
  display: flex;
}

.info {
  width: 100%;
  padding-left: 5px;
}

p {
  margin: 5px;
  width: fit-content;
  max-width: 100%;
  height: fit-content;
  word-wrap: break-word;
  text-align: left;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.ReplyContainer {
  display: flex;
  flex-direction: column;
  align-items:flex-end ;
}

.ReplyContainer >div {
  width: 80%;
}

/* .commentContainer {
  align-items: flex-end;
} */

.IndividualComment {
  margin-left: 10%;
}

.IndividualReply {
  display: flex;
  /* background-image: linear-gradient(var(--color1),var(--color3),var(--color1)); */
  background-color: var(--color1);
  margin-top: 5px;
  border-radius: 10px;
  transition: all .5s ease-in-out;
}

.IndividualReply:hover {
  transform: scale(1.05);
  border: 1px #3180a0;
}
/* .IndividualReply {
  background-color: red;
} */


.IndiviualTopic {
  /* background-image: linear-gradient(var(--color1)); */
  background-color: var(--color2);
  border-radius: 20px;
  height: fit-content;
  margin: 5px;
  transition: all .5s ease-in-out;
}

.homePage .IndiviualTopic:hover {
  transform: scale(1.05);
  border: 5px #3180a0;
}

.IndividualComment {
  display: flex;
  /* background-image: linear-gradient(var(--color3),var(--color1),var(--color3)); */
  background-color: var(--color4);
  border-radius: 20px;
  align-items: flex-start;
  transition: all .5s ease-in-out;
}

.commentContainer .IndividualComment:hover {
  transform: scale(1.05);
}

.IndividualCommentInfo {
  width:100%;
}

.IndividualComment, .IndiviualTopic, .IndividualReply, .NewReplySection{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 1rem;
  height: fit-content;
}

.TopicContainer {
  min-height: fit-content;
}


.replyNameBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.commentContainer, .homePage {
  padding-top: 3%;
  margin-bottom: 5%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

/* .TopicNameAuthor, .detailInfo {
  padding-left: 20px;
  padding-right: 20px;
} */
#addNewTopicBtn {
  width: fit-content;
  margin-bottom: 10px;
  align-self: end;
}

#addNewCommentBtn {
  width: fit-content;
  align-self: end;
}

.LikeComment {
  display: flex;
}

.topic {
  font-size: large;
  color: black;
  text-decoration:none;
  justify-self: start;
}

.biSearch {
  align-self: center;
  padding-right: .25rem;
}

.SearchContainer {
  display: flex;
  align-items: flex-start;
  width: 90%;
}

.topic:hover {
  color: red;
}



.logOIBtn {
  width: fit-content;
  text-align: right;
}

.logBtn {
  width:fit-content;
  display: flex;
  height: fit-content;
  justify-content: right;
}
.LogOutBtn {
  width: fit-content;
}

.homeBtn {
  width: fit-content;
  align-self: flex-start;
  margin-left: 1.5rem;
  margin-bottom: 0.25rem;
}

:disabled {
  border-bottom: black 3px solid;
}

/*                         */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.commentBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.deleteEditReply {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editComment {
  width: 100%;
}

.bigSignInBtn {
  background-color: var(--color1);
  border: none;
  height: 3rem;
  border-radius: 1rem;
  margin: 1rem;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
